<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RegisterTest"/>
      <class name="LoginTest"/>
      <class name="AddItemTest"/>
      <class name="ReadItemsShopTest"/>
      <class name="ValidateAddItemToCartTest"/>
      <class name="CRUDUserCartTest"/>
      <class name="ReadItemTest"/>
      <class name="EditItemTest"/>
      <class name="DeleteItemTest"/>
      <class name="EditProfileTest"/>
      <class name="ChangePasswordTest"/>
      <class name="DeleteUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
