@charset "ISO-8859-1";
.edit-profile-container {
  background: #fafafa;
  padding: 3rem;
  box-shadow: 3px 3px 5px 3px rgba(128, 128, 128, 0.329);
  border-radius: 5px;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #ff5d73 !important;
  outline: none;
  border: none;
}

.btn-secondary:hover {
  background-color: rgba(255, 93, 93, 0.774) !important;
}
