.il-title {
  font-size: 2rem;
  font-weight: 700;
}

.item-block {
  width: 100%;
  height: 90px;
  border-top: 3px solid black;
}

.item-pic {
  width: 70px;
  height: 70px;
  background-color: greenyellow;
  margin-right: 30px;
}

.item-info {
  width: 33%;
}

.amount-item-bought {
  margin-right: 10px;
}

.datetime-bought {
  width: 33%;
}

.amount-bought {
  width: 33%;
}

.i-title{
	width: 35%;
	font-weight: 700;
}

.dl-title, .q-title, .a-title {
	width: 15%;
	font-weight: 700;
}