.fontcenterShop {
	font-size: 30px;
	font-weight: 500;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: auto;
	grid-gap: 1rem;
}

.card {
	box-shadow: 10px 15px 10px 0 rgba(0, 0, 0, 0.3);
	max-width: 500px;
	max-height: 500px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

.shopitemtitle {
	text-align: left;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
}

.shoppricemargin {
	margin-bottom: 50px;
}

.shopitembutton {
	width: 150px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #ff5d73;
	border-radius: 20px;
}

.shopitembutton2 {
	margin-top: 20px;
	width: 150px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #ff5d73;
	border-radius: 20px;
}