.review-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

h3 {
	margin: 70px 0px 40px 0px;
	font-weight: bold;
}

.edit-review-btn {
	color: white;
	background: #EF6F6C;
}

a{
	text-decoration: none;
	color: black;
}

.container {
	background: #EF6F6C;
}